[Unit]
Description=deploy-manager

[Service]
User=root
WorkingDirectory=/opt/deploy-manager
ExecStart=/root/agent-venv/bin/python /opt/deploy-manager/agentd/run.py
Restart=always
RestartSec=1
StartLimitInterval=120
StartLimitBurst=30
Environment=PATH=/root/agent-venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
