[Unit]
Description=Odoo application services (start after unlock-appdata)
Requires=postgresql.service containerd.service docker.service nginx.service rclone-mount.service
After=postgresql.service containerd.service docker.service nginx.service rclone-mount.service
