[Unit]
Description=odoo-agent

[Service]
User=root
WorkingDirectory=/opt/odoo-agent
ExecStart=python3 /opt/odoo-agent/agentd/run.py
Restart=always
RestartSec=1
StartLimitInterval=120
StartLimitBurst=30

[Install]
WantedBy=multi-user.target
