[Unit]
Description=rclone-mount
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/rclone mount backup-crypt: /root/backups --vfs-cache-mode full
ExecStop=fusermount -u /root/backups
Restart=on-abort

[Install]
WantedBy=multi-user.target
