[Unit]
Description=rclone-mount
Wants=network-online.target
After=network-online.target
PartOf=odoo-app.target

[Service]
Type=notify
User=root
ExecStart=/usr/bin/rclone mount backup-crypt: /srv/secure/backups --config /srv/secure/rclone-config/rclone.conf --vfs-cache-mode full --dir-cache-time 5m --cache-dir /srv/secure/rclone-cache
ExecStop=/usr/bin/fusermount3 -u /srv/secure/backups
Restart=on-abort

[Install]
WantedBy=odoo-app.target
