git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
pyxirr
numpy-financial
genshi
py3o.formats
py3o.template
yfinance
markdownify
packaging
bitwalkit
git+https://github.com/elmeriniemela/bitoplens.git
