git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
pdfminer.six
pandas
openpyxl
pysftp
cryptography
paramiko
btclib
xmltodict
dicttoxml
tinyrpc
pyxirr
numpy-financial
genshi
signxml
py3o.formats
py3o.template
platformdirs
pypdf
jwcrypto
oauthlib
requests_oauthlib
numpy
yfinance
markdownify
packaging
